src/main/resources/application*.yml
src/main/resources/application-dev*.yml
src/main/resources/application-prod*.yml
src/main/resources/logback*.xml
src/main/resources/db/migration/*
!src/main/resources/db/migration/.gitkeep
.gradle
build
bin
out
*.iml
.idea
.vscode
.kilo
*.swp
*.swo
*~
.DS_Store
.env
.env.local
docker-data/
